.navbar {
  background-color: rgba(240, 248, 255, 0) !important;
}

.navbar-brand {
  text-transform: uppercase;
  font-size: 25px;
  letter-spacing: 1px;
  transition: 0.5s all;
}

.navbar-brand:hover {
  font-size: 26px;
}

.navbar-nav {
  display: flex;
  justify-content: flex-end;
  flex: 1;
  font-size: 18px;
  text-transform: uppercase;
}

.nav-item:hover {
  font-size: 19px;
}
