<div class="home__main">


  <app-header></app-header>
  <div class="container ">
    <div class="what__div">
      <span class="main__heading mt-5">What is this for?</span>

      <p class="main__body mt-5">&nbsp;&nbsp;&nbsp;&nbsp;This application is to store the photos online. We can't
        store our all photos on our hardisk, pen drive, laptop or
        computer because some day they will destroid and we cant
        retrive that photos. So because of this problems we are gone
        introduce our online Photo Gallary Which will help ypu to
        store photos online. You can see them anytime and on any
        laptop or phone or computer and anywhere.</p>
    </div>
    <div class="how__div">
      <span class="main__heading how__heading mt-5">How to Use?</span>

      <div class="how__body row mt-5">
        <div class="col-sm-4">
          <span class="how__number">Step 1</span>
          <img src="../../../assets/Static/Icons/login_white_24dp.svg" class="home__image">
          <span class="how__body">Signup/Login</span>
        </div>
        <div class="col-sm-4">
          <span class="how__number">Step 2</span>
          <img src="../../../assets/Static/Icons/drive_folder_upload_white_24dp.svg" class="home__image">
          <span class="how__body">Upload You Image</span>
        </div>
        <div class="col-sm-4">
          <span class="how__number">Step 3</span>
          <img src="../../../assets/Static/Icons/preview_white_24dp.svg" class="home__image">
          <span class="how__body">See Your Photos</span>
        </div>
      </div>
    </div>
  </div>
</div>